{% extends "base.html" %}

{% block message-tennants %}
  <div>
    <h2 class='page-center'>Message to your tennants:</h2>
    <div class="row">
    <div class="col-lg-6">
    <div class="input-group">
      <input type="text" class="form-control" aria-label="..." value="Here's a reminder to complete your cleaning schedule. Please text back with confirmation of the completed cleaning within 72 hours. Any problems please call the office on 0800 72 72 72." autocomplete="off">
      <div class="input-group-btn">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Remind once a week<span class="caret"></span></button>
        <ul class="dropdown-menu dropdown-menu-right">
          <li><a href="#">Remind once a week</a></li>
          <li><a href="#">Remind twice a week</a></li>
          <li><a href="#">Remind once a month</a></li>
          <li role="separator" class="divider"></li>
          <li><a href="#">Turn off the reminders</a></li>
        </ul>
      </div><!-- /btn-group -->
    </div><!-- /input-group -->
  </div><!-- /.col-lg-6 -->
</div>
</div>
{% endblock message-tennants %}

{% block highlighted-tennant %}
    <span>Kuba Sendor</span>
    <span class="badge">+447557268573</span>
{% endblock highlighted-tennant %}


{% block apply-button %}
    <a class="btn btn-default" href="/send" role="button">Apply</a>
{% endblock apply-button %}
