<html>
	<head>
		<script src="http://code.jquery.com/jquery-2.1.4.min.js"             ></script>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

	</head>
	<body>
	<div class='container'>
  <div class="row">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <div class='col-md-12'>
          <div class="navbar-header">
            </button> <a class="navbar-brand" href="#">ReClean</a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
              <a href="#">Your properties</a>
            </li>
          </ul>
        </div>
      </nav>
    </div>
  </div>
  <div class="page-header">
    <h1>Impact Hub Westminster, 1st Floor New Zealand House, 80 Haymarket, London, SW1Y 4TE, London</h1>
  </div>
  <div class="alert alert-info" role="alert">
    <span>The tenants have received the message urging them to clean their apartment</span>
  </div>

  <div>
    <h2>Your tenants at this property:</h2>
    <ul class="list-group">
  <li class="list-group-item">
    <span>Christiano Ronaldo</span>
    <span class="badge">+447557268573</span>
  </li>
  <li class="list-group-item">Lionel Messi</li>
  <li class="list-group-item">Zlatan Ibrahimovic</li>
  <li class="list-group-item">Andres Iniesta</li>
  <li class="list-group-item">Manuel Neuer</li>
</ul>
  </div>
	</body>
</html>
